{%extends 'layout.html'%}
{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    
    <h1 class="title">Listado de autores</h1>

    <table>
  <tr>
    <th>ID AUTOR</th>
    <th>NOMBRE</th>
    <th>APELLIDOS</th>
    <th>DNI</th>
    <th>ESTADO</th>
    <th>Eliminar</th>
  </tr>
{%for autor in autores %}
  <tr>
    <td>{{autor.idautor}}</td>
    <td>{{autor.nombre}}</td>
    <td>{{autor.apellidos}}</td>
    <td>{{autor.dni}}</td>
    <td>{{autor.estado}}</td>
    <td><a href="{% url 'eliminar_autores' id=autor.idautor %}">Eliminar Autor</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}