{%extends 'layout.html'%}
{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    
    <h1 class="title">Listado de Editoriales</h1>

<table>
  <tr>
    <th>ID EDITORIAL</th>
    <th>NOMBRE</th>
    <th>ESTADO</th>
    <th>Eliminar</th>
  </tr>
{%for editorial in editoriales %}
  <tr>
    <td>{{editorial.ideditorial}}</td>
    <td>{{editorial.nombre}}</td>
    <td>{{editorial.estado}}</td>
    <td><a href="{% url 'eliminar_editoriales' id=editorial.ideditorial %}">Eliminar Editorial</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}