{%extends 'layout.html'%}
{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    
    <h1 class="title">Listado de Libros</h1>

    <table>
  <tr>
    <th>ID LIBRO</th>
    <th>NOMBRE</th>
    <th>Codigo</th>
    <th>Fecha</th>
    <th>Stock</th>
    <th>Id Autor</th>
    <th>Id Editorial</th>
    <th>Id Pais</th>
    <th>Eliminar</th>
  </tr>
{%for libro in libros %}
  <tr>
    <td>{{libro.idlibro}}</td>
    <td>{{libro.nombre}}</td>
    <td>{{libro.codigo}}</td>
    <td>{{libro.fecha}}</td>
    <td>{{libro.stock}}</td>
    <td{{libro.idautor}}></td>
    <td>{{libro.ideditorial}}</td>
    <td>{{libro.idpais}}</td>
    <td><a href="{% url 'eliminar_libros' id=libro.idlibro %}">Eliminar Libro</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}