{%extends 'layout.html'%}
{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    
    <h1 class="title">Listado de Paises</h1>

    <table>
  <tr>
    <th>ID PAIS</th>
    <th>NOMBRE</th>
    <th>ESTADO</th>
    <th>Eliminar</th>
  </tr>
{%for pais in paises %}
  <tr>
    <td>{{pais.idpais}}</td>
    <td>{{pais.nombre}}</td>
    <td>{{pais.estado}}</td>
    <td><a href="{% url 'eliminar_paises' id=pais.idpais %}">Eliminar Pais</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}